<form name="insertAuthor" method="post">

  <p class="input_name">Новый автор</p>
  <input type="text" id="author_insert" class="input_field">
  
  <div class="message">
    <input type="submit" value="Добавить" id="author_insert_btn" class="btn button pull-left">
    <div id="author_insert_info"></div>
    <div class="clear"></div>       	
  </div>

</form>
<div class="clear"></div>