<form method="post" id="book_delete_form">
  <p class="input_name">Автор</p>
  <input list="author" class="input_field" placeholder="Выберите автора" id="author_delete">

  <p class="input_name">Название</p>
  <input list="books" id="title_delete" class="input_field" placeholder="Выберите название" disabled>

  <div class="message">
    <input type="submit" id="book_delete_btn" value="Удалить" class="btn button pull-left">
    <div id="book_delete_info"></div>
    <div class="clear"></div>
  </div>
</form>
<div class="clear bottom"></div>