<div class="col-xs-12 main">
  <div class="col-sm-2 сol-xs-12 sidebar">
    <div class="sidebar-nav">
      <ul class="nav nav-list">
        <li>
          <a href="/library/index.php" class="menu_item">Все</a>
        </li>
        <li>
          <a href="/library/genre.php" class="menu_item">Жанры</a>
        </li>
        <li>
          <a href="/library/author.php" class="menu_item">Авторы</a>
        </li>
        <li>
          <a href="/library/new.php" class="menu_item">Новинки</a>
        </li>
        <li>
          <a href="/library/popular.php" class="menu_item">Популярное</a>
        </li>
      </ul>
    </div>
  </div>