<form name="deleteUser" id="login_delete_form" method="post">
  <p class="input_name">Логин</p>
  <input list="login" name="login" id="login_delete" class="input_field" placeholder="Выберите логин">

  <div class="message">
    <input type="submit" id="user_delete_btn" value="Удалить" class="btn button pull-left">
    <div id="user_delete_info"></div>
    <div class="clear"></div>
  </div>
</form>
<div class="clear"></div>